/* Estilos para la página del café en México*/

/*Selector Universal*/
*{
    padding: 0;
    margin: 0;
}

/*Selectores de Etiqueta*/
body {
    background-color: #f1ecea;
    color: white;
}

/* Selector ID */
#contenedor{
    width: 900px;
    height: 1000px;
    max-width: 0 auto;
    border-radius: 5px;
    margin-top: 10px;
}

#encabezado {
    height: 15%;
    padding:  5px;
    border-radius: 5px;
    background-color: #3a251c;
}

#menu {
    height: 5%;
    padding: 5px;
    background-color: #b46424;
}

#pie {
    height: 10%;
    padding: 5px;
    border-radius: 5px;
    background-color: #3a251c;
}

#seccion{
    height: 70%;
    width: 64.5%;
    background-color: #362f2f;
    display: inline-block;
}

#fueraSeccion{
    height: 70%;
    width: 35%;
    background-color: #b58c7c;
    display: inline-block;
    vertical-align: top;
}

/* Selector de clase */

.texto {
    text-align: justify;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 20px 25px;
}
        
.encabezado-articulo{
    padding: 20px 25px;
    text-align: justify;
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    border-radius: 5px;
}
        
.encabezado-aside{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
        
.menu-aside{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 105px;
}

.elemento-aside{
    display: list-item;
    list-style: square;
    text-align: left;
    margin: 0em;
    padding: 3px;
}
    
.encabezado {
    padding: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    font-size: 60px;
}
    
.menu {
    padding: 10px;
    text-align: center;
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 23px;
}
    
.pie {
    padding: 40px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    font-style: italic;
}

/*Selectores de etiqueta*/

ul {
	padding: 15px;
	font-size: 20px;
    text-align: center;
}

li {
    display: inline;
	padding: 10px 30px;
	margin: 1em;
}

img {
    height: 100px;
    width: 100px;
    border: 1px solid white;
    margin: 10px 5px 10px 5px;
    border-color: white;
}

a {
    color: white;
}

/* selector de evento*/

li a:hover{
	color: crimson;
	text-decoration:underline;
	list-style: none;
}
