/* Estilos para la página de tema libre*/

@font-face {
    font-family: 'Tatto';
    src: url('/css/fuentes/Chomsky.woff') format('woff'),
        url('/css/fuentes/Chomsky.woff2') format('woff2');
}

@font-face {
    font-family: 'SixHands';
    src: url('/css/fuentes/SixHandsChalk.woff') format('woff'),
        url('/css/fuentes/SixHandsChalk.woff2') format('woff2');
}

/*Selector Universal*/
*{
    padding: 0;
    margin: 0;
}

/*Selector de ID*/
#contenedor{
    width: 1200px;
    height: 1500px;
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 0 auto;
    background-color: white;
    box-shadow: 0px 0px 30px 0px black;
    border: 5px solid black;
}

#encabezado{
    height: 21%;
    margin: 50px 50px 0px 50px;
    border-top: 1px solid black;
}

#redes{
    height: 5%;
    border-top: 1px solid black;
    margin: 0px 50px 0px 50px;
    border-bottom: 1px solid black;
}

#seccion{
    height: 63%;
    margin: 40px 50px 0px 50px;
    text-align: left;
}

/* Selector de etiqueta */

body{
    background-image: url('/img/sen2kabron\ portada.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    border-radius: 50px;
    margin-right: 20px;
    height: 300px;
}

/* Selector de clase*/

.encabezado1{
    font-family: 'Tatto';
    font-size: 150px;
}

.encabezado2{
    font-family: 'SixHands';
    font-size: 75px;
    letter-spacing: 30px;
}

.redes{
    display: inline;
    vertical-align: -30px;
    padding: 50px 50px;
    font-size: 30px;
}

.encabezado_articulos{
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
}

.contenido{
    font-size: 25px;
    text-align: justify;
}